In [ ]:
""" MySQL Connector """


import mysql.connector as connector


connection = connector.connect(
    user='root',
    password='root',
    db='LittleLemonDB'
)

cursor = connection.cursor('SHOW TABLES;')

results = cursor.fetchall()

print(results)

In [ ]:
operation = 'SELECT CONCAT(first_name, last_name) AS FullName, email, total_cost FROM user JOIN orders ON user.id = orders.user_id WHERE total_cost > 60;'

cursor.execute(operation)

results = cursor.fetchall()

print(results)